In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
#Series Creation
a=pd.Series([1,2,3,4,5,6,np.nan])
a

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    NaN
dtype: float64

In [16]:
#Datetime index creation
dates=pd.date_range('20160101',periods=7)
dates

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07'],
              dtype='datetime64[ns]', freq='D')

In [22]:
#DataFrame Creation by passing numpy array
df=pd.DataFrame(np.random.random((7,5)),index=dates,columns=list('ABCDE'))
df

                   A         B         C         D         E
2016-01-01  0.015455  0.445907  0.786486  0.414243  0.474962
2016-01-02  0.633936  0.982161  0.149022  0.696939  0.310232
2016-01-03  0.525241  0.254573  0.828252  0.332340  0.323074
2016-01-04  0.301161  0.922625  0.909905  0.633204  0.338244
2016-01-05  0.386795  0.858804  0.622667  0.589780  0.778469
2016-01-06  0.422340  0.565341  0.891654  0.297841  0.180148
2016-01-07  0.698572  0.845523  0.348846  0.339041  0.351467

In [30]:
#Create data frame by passing a dict
df2 = pd.DataFrame({ 
        'A' : 1.,
        'B' : pd.Timestamp('20160102'),
        'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
        'D' : np.array([3] * 4,dtype='int32'),
        'E' : pd.Categorical(["test","train","test","train"]),
        'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2016-01-02  1.0  3   test  foo
1  1.0 2016-01-02  1.0  3  train  foo
2  1.0 2016-01-02  1.0  3   test  foo
3  1.0 2016-01-02  1.0  3  train  foo

In [29]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

# Viewing the Data

In [31]:
df.head()

                   A         B         C         D         E
2016-01-01  0.015455  0.445907  0.786486  0.414243  0.474962
2016-01-02  0.633936  0.982161  0.149022  0.696939  0.310232
2016-01-03  0.525241  0.254573  0.828252  0.332340  0.323074
2016-01-04  0.301161  0.922625  0.909905  0.633204  0.338244
2016-01-05  0.386795  0.858804  0.622667  0.589780  0.778469

In [32]:
df.tail(1)
df.tail(3)

                   A         B         C         D         E
2016-01-05  0.386795  0.858804  0.622667  0.589780  0.778469
2016-01-06  0.422340  0.565341  0.891654  0.297841  0.180148
2016-01-07  0.698572  0.845523  0.348846  0.339041  0.351467

In [34]:
df.index

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07'],
              dtype='datetime64[ns]', freq='D')

In [36]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [37]:
df.values

array([[ 0.01545518,  0.44590669,  0.78648612,  0.41424281,  0.47496197],
       [ 0.63393605,  0.98216098,  0.1490221 ,  0.69693936,  0.31023246],
       [ 0.52524145,  0.25457342,  0.82825221,  0.33234019,  0.323074  ],
       [ 0.30116136,  0.92262484,  0.90990457,  0.63320406,  0.33824421],
       [ 0.3867951 ,  0.85880434,  0.62266665,  0.58977983,  0.77846883],
       [ 0.42234038,  0.56534098,  0.89165356,  0.29784055,  0.18014775],
       [ 0.69857181,  0.84552291,  0.34884566,  0.3390407 ,  0.35146668]])

In [38]:
df.describe()

              A         B         C         D         E
count  7.000000  7.000000  7.000000  7.000000  7.000000
mean   0.426214  0.696419  0.648119  0.471913  0.393799
std    0.228423  0.275857  0.294036  0.163965  0.190206
min    0.015455  0.254573  0.149022  0.297841  0.180148
25%    0.343978  0.505624  0.485756  0.335690  0.316653
50%    0.422340  0.845523  0.786486  0.414243  0.338244
75%    0.579589  0.890715  0.859953  0.611492  0.413214
max    0.698572  0.982161  0.909905  0.696939  0.778469

In [41]:
# Transposing data
df.T

,2016-01-01 00:00:00,2016-01-02 00:00:00,2016-01-03 00:00:00,2016-01-04 00:00:00,2016-01-05 00:00:00,2016-01-06 00:00:00,2016-01-07 00:00:00
A,0.015455,0.633936,0.525241,0.301161,0.386795,0.422340,0.698572
B,0.445907,0.982161,0.254573,0.922625,0.858804,0.565341,0.845523
C,0.786486,0.149022,0.828252,0.909905,0.622667,0.891654,0.348846
D,0.414243,0.696939,0.332340,0.633204,0.589780,0.297841,0.339041
E,0.474962,0.310232,0.323074,0.338244,0.778469,0.180148,0.351467

In [45]:
#Sorting by an axis
df.sort_index(axis=1,ascending=False)

                   E         D         C         B         A
2016-01-01  0.474962  0.414243  0.786486  0.445907  0.015455
2016-01-02  0.310232  0.696939  0.149022  0.982161  0.633936
2016-01-03  0.323074  0.332340  0.828252  0.254573  0.525241
2016-01-04  0.338244  0.633204  0.909905  0.922625  0.301161
2016-01-05  0.778469  0.589780  0.622667  0.858804  0.386795
2016-01-06  0.180148  0.297841  0.891654  0.565341  0.422340
2016-01-07  0.351467  0.339041  0.348846  0.845523  0.698572

In [46]:
# Sort by values
df.sort_values(by='A')

                   A         B         C         D         E
2016-01-01  0.015455  0.445907  0.786486  0.414243  0.474962
2016-01-04  0.301161  0.922625  0.909905  0.633204  0.338244
2016-01-05  0.386795  0.858804  0.622667  0.589780  0.778469
2016-01-06  0.422340  0.565341  0.891654  0.297841  0.180148
2016-01-03  0.525241  0.254573  0.828252  0.332340  0.323074
2016-01-02  0.633936  0.982161  0.149022  0.696939  0.310232
2016-01-07  0.698572  0.845523  0.348846  0.339041  0.351467

# Selecting

In [48]:
df['A']  # Selecting a singlge column will output a dataseries , same as df.A
df.A

2016-01-01    0.015455
2016-01-02    0.633936
2016-01-03    0.525241
2016-01-04    0.301161
2016-01-05    0.386795
2016-01-06    0.422340
2016-01-07    0.698572
Freq: D, Name: A, dtype: float64

In [67]:
#Selecting via [] slices the ROWS
df[0:3]
df['20160102':'20160105']

                   A         B         C         D         E
2016-01-02  0.633936  0.982161  0.149022  0.696939  0.310232
2016-01-03  0.525241  0.254573  0.828252  0.332340  0.323074
2016-01-04  0.301161  0.922625  0.909905  0.633204  0.338244
2016-01-05  0.386795  0.858804  0.622667  0.589780  0.778469

In [73]:
# Three ways to Select data
# label .loc,.at
# Position .iloc, .iat
# Boolean Indexing
df.loc[:'20160102',['A','B']]

                   A         B         C         D         E
2016-01-01  0.015455  0.445907  0.786486  0.414243  0.474962
2016-01-02  0.633936  0.982161  0.149022  0.696939  0.310232

In [74]:
# scalar value
df.loc['20160102','B']

0.98216098206919411

In [79]:
# fast scalar value -- note a label cannot be used directly if using .at
print(df.at[dates[2],'B'])

0.254573417351

In [86]:
# by position .iloc
df.iloc[0:2,[1,3,4]]

                   B         D         E
2016-01-01  0.445907  0.414243  0.474962
2016-01-02  0.982161  0.696939  0.310232

In [87]:
df.iloc[[1,2,4],[2,4]]

                   C         E
2016-01-02  0.149022  0.310232
2016-01-03  0.828252  0.323074
2016-01-05  0.622667  0.778469

In [91]:
df.iat[1,1]

0.98216098206919411

In [93]:
#boolean indexing
df[df.A > 0.5]

                   A         B         C         D         E
2016-01-02  0.633936  0.982161  0.149022  0.696939  0.310232
2016-01-03  0.525241  0.254573  0.828252  0.332340  0.323074
2016-01-07  0.698572  0.845523  0.348846  0.339041  0.351467

In [94]:
df[df>0.5]

                   A         B         C         D         E
2016-01-01       NaN       NaN  0.786486       NaN       NaN
2016-01-02  0.633936  0.982161       NaN  0.696939       NaN
2016-01-03  0.525241       NaN  0.828252       NaN       NaN
2016-01-04       NaN  0.922625  0.909905  0.633204       NaN
2016-01-05       NaN  0.858804  0.622667  0.589780  0.778469
2016-01-06       NaN  0.565341  0.891654       NaN       NaN
2016-01-07  0.698572  0.845523       NaN       NaN       NaN

In [95]:
df2=df.copy()
df2['E']=['one','two','three','four','five','six','seven']

In [96]:
df2

                   A         B         C         D      E
2016-01-01  0.015455  0.445907  0.786486  0.414243    one
2016-01-02  0.633936  0.982161  0.149022  0.696939    two
2016-01-03  0.525241  0.254573  0.828252  0.332340  three
2016-01-04  0.301161  0.922625  0.909905  0.633204   four
2016-01-05  0.386795  0.858804  0.622667  0.589780   five
2016-01-06  0.422340  0.565341  0.891654  0.297841    six
2016-01-07  0.698572  0.845523  0.348846  0.339041  seven

In [98]:
df2[df2['E'].isin(['one','three'])]

                   A         B         C         D      E
2016-01-01  0.015455  0.445907  0.786486  0.414243    one
2016-01-03  0.525241  0.254573  0.828252  0.332340  three

# Setting

In [106]:
s1=pd.Series([1,2,3,4,5,6],index=pd.date_range('20160102',periods=6))

In [102]:
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [103]:
df

                   A         B         C         D         E
2016-01-01  0.015455  0.445907  0.786486  0.414243  0.474962
2016-01-02  0.633936  0.982161  0.149022  0.696939  0.310232
2016-01-03  0.525241  0.254573  0.828252  0.332340  0.323074
2016-01-04  0.301161  0.922625  0.909905  0.633204  0.338244
2016-01-05  0.386795  0.858804  0.622667  0.589780  0.778469
2016-01-06  0.422340  0.565341  0.891654  0.297841  0.180148
2016-01-07  0.698572  0.845523  0.348846  0.339041  0.351467

In [107]:
df['F']=s1

In [114]:
del df['G']

In [115]:
df

                   A         B         C         D         E    F
2016-01-01  0.015455  0.445907  0.786486  0.414243  0.474962  NaN
2016-01-02  0.633936  0.982161  0.149022  0.696939  0.310232  1.0
2016-01-03  0.525241  0.254573  0.828252  0.332340  0.323074  2.0
2016-01-04  0.301161  0.922625  0.909905  0.633204  0.338244  3.0
2016-01-05  0.386795  0.858804  0.622667  0.589780  0.778469  4.0
2016-01-06  0.422340  0.565341  0.891654  0.297841  0.180148  5.0
2016-01-07  0.698572  0.845523  0.348846  0.339041  0.351467  6.0

In [ ]:
#Setting by label
df.at[dates[0],'A']=1
#Setting by position
df.iat[0,1]=1
#By assigning a numpy array
df.loc[:,'D']=np.array([5]*len(df))

In [116]:
#Where operation with setting
df[df>0]=3

In [117]:
mylist=[]

In [120]:
mylist.insert(0,1)
mylist

[1, 1]

# Merge,Concat,Append,Join

In [6]:
import numpy as np
import pandas as pd

In [10]:
df=pd.DataFrame(np.random.randn(10,5))

In [19]:
df[0:2]

SyntaxError: invalid syntax (<ipython-input-19-da5077c6087d>, line 1)

In [45]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2'],
                    },
                    index=['K0', 'K1', 'K2'])
right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3'],
                     },
                     index=['K0', 'K2', 'K3'])
print(left)
print(right)

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

# Join

In [46]:
result = left.join(right) # by default its a left join
result

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [27]:
left.join(right,how='inner') # You can specify type of join by using how

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C2  D2

# Merge

In [42]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2'],
                    'type':['car','jack','wolf']},
                    index=['K0', 'K1', 'K2'])
right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3'],
                     'type':['tiger','wolf','jack']},
                     index=['K0', 'K1', 'K2'])
print(left)
print(right)

     A   B  type
K0  A0  B0   car
K1  A1  B1  jack
K2  A2  B2  wolf
     C   D   type
K0  C0  D0  tiger
K1  C2  D2   wolf
K2  C3  D3   jack

In [43]:
left.merge(right,how='inner',on='type')

    A   B  type   C   D
0  A1  B1  jack  C3  D3
1  A2  B2  wolf  C2  D2

# Append

In [49]:
left.append(right)

      A    B    C    D
K0   A0   B0  NaN  NaN
K1   A1   B1  NaN  NaN
K2   A2   B2  NaN  NaN
K0  NaN  NaN   C0   D0
K2  NaN  NaN   C2   D2
K3  NaN  NaN   C3   D3

# Concat

In [52]:
mylist=[left,right]
pd.concat(mylist)

      A    B    C    D
K0   A0   B0  NaN  NaN
K1   A1   B1  NaN  NaN
K2   A2   B2  NaN  NaN
K0  NaN  NaN   C0   D0
K2  NaN  NaN   C2   D2
K3  NaN  NaN   C3   D3